
.estadisticas {
  display: flex;
  gap: 1.2em;
}

.estadistica {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1em 1.5em;
  color: #4d413f;
  background-color: #f6f1f0;
  border-radius: 0.8em;
  border-left: 4px solid #a28575;
}

.estadistica img {
  width: 2.5em;
  height: auto;
}

.estadistica h2 {
  font-size: 1.6em;
  color: #322418;
}

.estadistica p {
  font-size: 0.8em;
  color: #9a8a88;
}